
/* define font, clours and shapes */
/* you can target html tags using their html tag */

/* fonts */
/* use font ninja to get see what a website is using a a font */
/* use google fonts to get a similar open source font or google for the .tfl file of a font (not for production) */

/* colour */
/* RGB, RGBA and HEX */
/* colour pickers & coolors  to get colors*/

/* pictures - Unsplash  */

h1 {
    font-family: 'Lobster Two', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: rgba(20, 20, 20, 0.9);
}

h2, h3 {
    font-family: 'Lobster Two', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: rgba(20, 20, 20, 0.9);
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    /* you can use RGB and RGBA - where R is red, G is green an B is blue. A is opacity - they call it alpha for some reason  */
    color: rgba(20, 20, 20, 0.8);
}

/* Or you can target html classes and id */
/* to target an class, use .class-name */

.red-room {
    font-size: 20px;
    /* you can also use just words for plain colour (never used this) */
    color: red;
    font-weight: bold;
}

.lilack-room {
    /* colour can be defined using HEX */
    color: #6457A6;
}

#avatar-lg {
    height: 120px;
    border-radius: 50%;
}

#avatar-sm {
    height: 90px;
    border-radius: 50%;
}

.btn-create-repo {
    color: #42536E;
    background-color: #ECEDF0;
    padding: 10px 15px;
    border-radius: 4px;
    font-family: arial;
    text-decoration: none;
}

.btn-create-repo:hover {
    background-color: #c6c6c9;
}

.banner-filipe {
    background-image: url("https://images.unsplash.com/photo-1547234935-80c7145ec969?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2948&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 70px);

    /* FLEX centering */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-content {
    text-align: center;
    
}

